body {
    background-image: url('../assets/img/LoginBG.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(8px);
    z-index: 1;
}

.login-card {
    z-index: 2;
    max-width: 400px;
    width: 100%;
    padding: 40px 30px; /* Ajustar padding para un diseño más espacioso */
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center; /* Centrar texto en el card */
}

.login-card h3 {
    margin: 20px 0 10px;
    font-size: 20px;
    font-weight: normal;
    color: #333;
}

.form-label {
    font-weight: bold;
    color: #555;
}

input {
    border-radius: 5px;
}
